@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    color: #000000;
    background-color: #ffffff
}

/* header starts here */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    color: #000000;
    text-decoration: none;
    font-weight: 200;
    padding-right: 35rem;
}

.navbar a {
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    font-weight: 200;
    padding-right: 2rem;
}

.navbar a:last-child {
    padding-left: 0;
}

.navbar a:hover,
.navbar .span {
    color: #ff1496;
}

/* mobile */
/* The sidebar menu */
.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #ffffff;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: none;
    transition: 0.3s;
}

.sidebar .ist {
    color: #ff1496;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #ff1496;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 30px;
    cursor: pointer;
    color: #081b29;
    background-color: #ffffff;
    padding: 10px 15px;
    border: none;
    display: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
        display: block;
    }

    .openbtn {
        display: block;
    }

    .header {
        display: none;
    }
}


/* mobile */

/* header ends here */

/* home section starts here */
section {
    min-height: 100vh;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 18rem;
    background-image: no-repeat;
}

.home-image img {
    width: 400px;
    border-radius: 80%;
    margin-left: 5rem;
    margin-top: 3rem;
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 4rem;
    font-weight: 500;
}

.home-content .text-animate {
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-size: 3.5rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px #ff1496;
}

.home-content p {
    font-size: 2rem;
    margin-top: 2rem 0 4rem;
}

.btn-box {
    margin: 3rem 4rem 0 0;
}

.btn-box .btn:last-child {
    background: transparent;
    margin-left: 2rem;
    color: #ff1496;
}

.btn-box .btn {
    padding: 1rem 2.2rem;
    width: 10rem;
    height: 100%;
    background: #ff1496;
    border: .2rem solid #ff1496;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    color: #ffffff
}

.btn-box .btn:hover {
    background: transparent;
    color: #ff1496;
}

.contact {
    position: absolute;
    bottom: 4rem;
    width: 17rem;
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
}

.contact a {
    position: relative;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 40px;
    height: 40px;
    color: #0d3857;
    border-radius: 50%;
    border: 2px solid #ff1496;
}

.contact a:hover {
    color: #ff1496;
}

/* home section ends */

/* about section starts */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin: 3rem 18rem 5rem;
    border-top: 2px solid #ff1496;
    border-bottom: 2px solid #ff1496;;
}

.heading {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

span {
    color: #ff1496;
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: 0.2rem solid #ff1496;
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 0.2rem solid #ffffff;
    border-bottom: 0.2rem solid #ffffff;
    border-left: 0.2rem solid #ff1496;
    border-right: 0.2rem solid #ff1496;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.5rem;
}

.about-content p {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 10rem 3rem;
    margin: 2rem 0 3rem;
}

/* projects section starts */
.projects {
    padding: 2rem 18rem;
}

.projects h2 {
    text-align: center;
    font-size: 3rem;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100rem;
    position: relative;
    margin: auto;
    padding-top: 1.5rem;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-left: -0.2rem;
    margin-top: -2.2rem;
    color: #ff1496;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.6s ease;
    border-radius: 0 0.3rem 0.3rem 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 0.3rem 0 0 0.3rem;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #717171;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 1.5rem;
    padding: 0.8rem 1.2rem;
    position: absolute;
    bottom: 0.8rem;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.summary-details h2 {
    margin: 1rem 0;
    text-align: center;
    font-size: 2rem;
}

.summary-details p {
    font-size: 1.5rem;
    text-align: center;
}

.summary-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    background: transparent;
    padding: 0 10rem;
}

.summary-details .links {
    margin: 1.5rem;
}

.summary-details a {
    margin: 0.5rem;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #000000;
    border: 2px solid #ff1496;
    font-size: 1.5rem;
}

.summary-details a:hover {
    background-color: #da97bc;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* project section ends */

/* skill section starts here */
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 10rem 0 10rem 2rem;
    margin: 0 18rem;
    border-top: 2px solid #ff1496;
    border-bottom: 2px solid #ff1496;
}

.skill-set {
    margin: 8rem 0 5rem 0;
}

.skill-set h2 {
    display: block;
    text-align: center;
    font-size: 3rem;
}

/* skill section ends here */

/* contact form starts*/
.contact-form {
    margin: 5rem 0 0 0;
}

.contact-form h2 {
    font-size: 3rem;
    margin-bottom: 1rem 8rem;
    text-align: center;
}

/* Style for the form container */
.form-container {
    margin: 5rem 18rem 0;
    padding: 2rem;
    border-radius: 10px;
}

/* Style for the form inputs */
input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ff1496;
    outline: none;
}

/* Style for the form button */
button[type="submit"] {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #ff1496;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the arrow icon inside the button */
.fa-sharp.fa-solid.fa-arrow-right {
    margin-left: 0.5rem;
}

/* Go to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    z-index: 99;
    font-size: 1.8rem;
    border: 2px solid #ff1496;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.4rem;
}

.fa-sharp.fa-solid.fa-arrow-up {
    color: #000000;
}

#myBtn:hover {
    background-color: #ff1496;
}

/* contact form ends */

/* footer starts here */

.footer {
    font-size: 2rem;
    text-align: center;
    background: #da97bc;
    background-clip: inherit;
    margin-top: 8rem;
    padding-top: 10rem;
    margin: 0;
}

/* footer ends here */

/* Media Query */

@media only screen and (max-width: 767px) {
    section {
        min-height: auto;
    }

    html {
        font-size: 50%;
    }

    .header {
        padding: 1rem;
        position: static;
    }

    .logo {
        padding: 0 4rem;
        font-size: 3rem;
        font-weight: bold;
    }

    .navbar a {
        padding-right: 1rem;
        display: none;
    }

    .openbtn {
        display: block;
    }

    .sidebar a {
        display: block;
    }

    #main {
        margin-left: 0;
    }

    /* home section */
    .home {
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        margin: 0 5rem;
    }

    .home-image img {
        margin: 3rem 0;
        display: none;
    }

    .home-content {
        margin-top: 3rem;
        text-align: center;
    }

    .home-content h1 {
        font-size: 4rem;
        font-weight: 700;
    }

    .home-content .text-animate {
        width: 100%;
    }

    .home-content .text-animate h3 {
        font-size: 2.8rem;
        -webkit-text-stroke: .8px#ff1496;

    }

    .home-content p {
        font-size: 2.5rem;
        margin-top: 2rem 0 3rem;
    }

    .btn-box {
        margin: 10rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-box .btn {
        width: auto;
        padding: 1rem 2rem;
        font-size: 2.5rem;
    }

    .contact {
        width: 100%;
        position: static;
        margin: 0;
    }

    /* about section */
    .about {
        margin: 3rem 5rem;
        padding: 1rem 1rem 0;
    }

    .about-img {
        width: 15rem;
        height: 15rem;
    }

    .about-img img {
        width: 85%;
    }
    .about-content h3 {
        font-size: 3rem;
    }
    .about-content p {
        padding: 0;
        font-size: 2.5rem;
    }

    /* project section */
    .projects {
        padding: 2rem;
        margin: 2rem 2rem;
    }

    .projects h2 {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    .slideshow-container {
        max-width: 100%;
        padding-top: 0.5rem;
    }

    .prev,
    .next {
        margin-top: -1.2rem;
        font-size: 2rem;
    }

    .text {
        font-size: 1rem;
        padding: 0.5rem;
        bottom: 0.5rem;
    }

    .summary-details h2 {
        font-size: 3rem;
    }

    .summary-details p {
        font-size: 2.5rem;
        margin: 3rem 3rem;
    }

    .summary-details {
        padding: 0 1rem;
    }

    .summary-details a {
        font-size: 3rem;
        padding: 0.5rem;
    }

    /* skills section */
    .skills {
        display: block;
        padding: 3rem;
        margin: 2rem 3rem;
    }

    .skills>* {
        margin-bottom: 3rem;
    }

    .skill-set {
        margin: 5rem 0 3rem;
    }

    .skill-set h2 {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    /* contact section */
    .contact-form {
        margin: 4.5rem 1rem;
    }
        input::placeholder {
            font-size: 3rem;
        }
        textarea::placeholder {
            font-size: 3rem;
        }

    .contact-form h2 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    .form-container {
        margin: 2rem;
    }

    button[type="submit"] {
        font-size: 2.5rem;
    }

    #myBtn {
        font-size: 3rem;
    }

    /* footer section starts here */
    .footer {
        font-size: 2.5rem;
        margin: 0;
        padding-bottom: 2rem;
    }
}