@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

:root {
    /* color Variables */
    --gradient-colors: linear-gradient(90deg, #e70faa, #00c0fd);
    --primary-color: #000000;
    --primary-color2: #ffffff;
    --secondary-color: #e70faa;
    --secondary-color2: #00c0fd;
    --secondary-color3: #bababa;

    /* Font family variables */
    --font-family-base: 'Nunito', sans-serif;

    /* Font size variables */
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.5rem;

    /* Font weight variables */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Line height variables */
     --line-height-small: 1.2;
     --line-height-base: 1.5;
     --line-height-big: 1.8;
} 

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-base);
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    transition: background-color 0.5s, color 0.5s;
    color: var(--primary-color);
    background-color: var(--primary-color2);
}

/* Dark mode styles starts here */
body.dark-mode {
    background-color: var(--primary-color) !important;
    color: var(--primary-color2) !important;
}

.toggle-container {
    position: fixed;
    top: 25px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.toggle-container span {
    margin: 0 5px;
}

#dark-mode-icon {
    display: inline-block;
}

#light-mode-icon {
    display: none;
}
/* Dark mode styles ends */

/* header starts here */
.header {
    width: 100%;
    padding: 2rem 0 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: var(--font-size-x-large);
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
    padding-right: 30rem;
}

body.dark-mode header .logo {
    color: var(--primary-color2);
}

.navbar a {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    padding-right: 5rem;
    color: var(--secondary-color2);
}

.navbar a:last-child {
    padding-left: 0;
}

.navbar a:hover,
.navbar .span {
    color: var(--secondary-color);
}

/* The Overlay */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background: var(--primary-color2);
    overflow: hidden;
    transition: 0.5s;
}
body.dark-mode .overlay{
    background: var(--primary-color);
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

.overlay-content .span {
    color: var(--secondary-color);
}

.overlay a {
    padding: 1rem;
    font-size: var(--font-size-xx-large);
    color: var(--secondary-color2);
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: var(--secondary-color);
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
}

.openbtn {
    display: none;
    font-size: var(--font-size-xx-large);
}

/* header ends here */

/* home section starts here */
.home {
    display: flex;
    align-items: center;
    padding: 8rem 10rem;
}

.home-content h3 {
    font-size: var(--font-size-x-large);
}

.home-content h1 {
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
}

.home-content .text-gradient {
    color: transparent;
    -webkit-background-clip: text;
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
    background-image: var(--gradient-colors);
}

.home-content p {
    font-size: var(--font-size-x-large);
    margin: 1rem 0 2rem;
}

.btn-box {
    margin: 3rem 4rem 0 0;
}

.btn-box .btn:last-child {
    border: 2px solid;
    border-image: var(--gradient-colors);
    border-image-slice: 1;
    border-radius: 2rem;
    background: transparent;
    margin-left: 2rem;
    color: var(--primary-color);
    padding: 1rem;
}

body.dark-mode .btn-box .btn:last-child {
    color: var(--primary-color2);
}

.btn-box .btn {
    padding: 1rem 2rem;
    width: 10rem;
    height: 100%;
    background: var(--gradient-colors);
    border-radius: 2rem;
    font-size: var(--font-size-large);
    letter-spacing: .1rem;
    color: var(--primary-color2);
}

.btn-box .btn:hover {
    background: transparent;
    color: var(--secondary-color);
    border: 2px solid;
    border-image: var(--gradient-colors);
    border-image-slice: 1;
    border-radius: 2rem;
}

.contact {
    position: absolute;
    bottom: 15px;
    width: 17rem;
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
}

.contact a {
    position: relative;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
}

body.dark-mode .contact a {
    color: var(--primary-color2);
}



/* home section ends */

/* about section starts */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem 10rem;
    padding: 0 0 2rem;
}
 .about h2 {
    margin-top: 1rem;
 }

.heading {
    font-size: var(--font-size-xx-large);
    margin-bottom: 0.2rem;
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    background-image: var(--gradient-colors);
}

span {
    color: var(--secondary-color2);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 0.2rem solid var(--primary-color2);
    border-bottom: 0.2rem solid var(--primary-color2);
    border-left: 0.2rem solid var(--secondary-color);
    border-right: 0.2rem solid var(--secondary-color);
}

body.dark-mode .about-img .circle-spin {
    border-top: 0.2rem solid var(--primary-color);
    border-bottom: 0.2rem solid var(--primary-color);
}

.about-content {
    text-align: center;
}

.about-content p {
    text-align: center;
    font-size: var(--font-size-large);
}

.about-contact {
    display: none;
}

/* projects section starts */
.projects {
    padding: 0 18rem;
}

.projects h2 {
    text-align: center;
    font-size: var(--font-size-xx-large);
    color: transparent;
    -webkit-background-clip: text;
    background-image: var(--gradient-colors);
}

/* Slideshow container */
.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
    padding-top: 1.5rem;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-left: -0.2rem;
    margin-top: -2.2rem;
    color: var(--secondary-color);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xx-large);
    transition: 0.6s ease;
    border-radius: 0 0.3rem 0.3rem 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: -10rem;
    border-radius: 0.3rem 0 0 0.3rem;
}

.prev {
    left: -10rem;
}

/* Caption text */
.text {
    color: var(--primary-color2);
    font-size: var(--font-size-medium);
    padding: 0.8rem 1.2rem;
    position: absolute;
    bottom: 0.8rem;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 2px;
    background-color: var(--secondary-color3);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--secondary-color2);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.summary-details h2 {
    margin: 0.5rem 0;
    text-align: center;
    font-size: var(--font-size-x-large);
}

.summary-details p {
    font-size: var(--font-size-medium);
    text-align: center;
}

.summary-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    background: transparent;
}

.summary-details .links {
    margin-top: 1rem;
}

.summary-details a {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    font-size: var(--font-size-medium);
}

body.dark-mode .summary-details a {
    color: var(--primary-color2);
}

.summary-details a:hover {
    background: var(--gradient-colors);
}
/* project section ends */

/* skill section starts here */
.skills {
    padding: 0 10rem 5rem;
}

.skill-set h2 {
    display: block;
    text-align: center;
    font-size: var(--font-size-xx-large);
    margin: 5rem 0  0;
    color: transparent;
    -webkit-background-clip: text;
    background-image: var(--gradient-colors);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    margin-top: 8px;
}

.single {
    padding: 8px;
    text-align: center;
    font-size: var(--font-size-medium);
    border-radius: 5rem;
    width: 90px;
}

.single img {
    max-width: 100%;
    height: auto;
}

/* skill section ends here */

/* contact form starts*/
.contact-form h2 {
    font-size: var(--font-size-xx-large);
    color: transparent;
    -webkit-background-clip: text;
    background-image: var(--gradient-colors);
    margin: 5rem 0 2rem;
    text-align: center;
}

/* Style for the form container */
.form-container {
    margin: 2rem 18rem 2rem;
    padding: 2rem;
    border-radius: 10px;
}

/* Style for the form inputs */
input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem;
    font-size: var(--font-size-medium);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--secondary-color);
    outline: none;
}

body.dark-mode input[type="text"],
body.dark-mode input[type="email"],
body.dark-mode textarea {
    background: var(--primary-color);
    color: var(--primary-color2)
}

/* Style for the form button */
button[type="submit"] {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color2);
    background: var(--gradient-colors);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the arrow icon inside the button */
.fa-sharp.fa-solid.fa-arrow-right {
    margin-left: 0.5rem;
}

/* Go to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 0.5rem;
    right: 2rem;
    font-size: var(--font-size-large);
    border: 2px solid var(--secondary-color2);
    outline: none;
    background-color: transparent;
    color: var(--primary-color2);
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.4rem;
}

.fa-sharp.fa-solid.fa-arrow-up {
    color: var(--primary-color);
}

body.dark-mode .fa-sharp.fa-solid.fa-arrow-up {
    color: var(--primary-color2);
}

#myBtn:hover {
    background: var(--gradient-colors);
}
/* contact form ends */

/* footer starts here */

.footer {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    text-align: center;
    border-top: 2px solid;
    border-image: var(--gradient-colors);
    border-image-slice: 1;
    padding: 2rem 0 2rem 0;
    margin: 0;
}
/* footer ends here */

/* Mobile Media Query */
@media only screen and (max-width: 768px) {
    :root {
        --font-size-small: 1.2rem;
        --font-size-medium: 1.4rem;
        --font-size-large: 1.6rem;
        --font-size-x-large: 2rem;
        --font-size-xx-large: 3rem;
    }

    .header {
        padding: 1.5rem;
    }

    .logo {
        padding-right: 1rem;
    }

    .navbar {
        display: none;
    }

    .toggle-container {
        top: 60px;
        right: 1rem;
        font-size: var(--font-size-xx-large);
    }

    .openbtn {
        display: block;
    }

    /* Update styles for home section */
    .home {
        padding: 8rem 2rem;
    }

    .home-content h3 {
        font-size: var(--font-size-x-large);
        padding-bottom: 1rem ;
    }

    .home-content h1 {
        font-size: var(--font-size-xx-large);
    }

    .home-content .text-gradient {
        font-size: var(--font-size-xx-large);
    }

    .home-content p {
        font-size: var(--font-size-x-large);
        margin: 1rem 0 0;
        line-height: var(--line-height-big);
    }

    .btn-box .btn {
        padding: 1rem 1.5rem;
        margin-right: 1rem;
        width: auto;
        font-size: var(--font-size-large);
    }

    .contact, .contact a {
      display: none;
    }

    /* About */
    .about {
        margin: 2rem;
    }

    .about-img {
        width: 15rem;
        height: 15rem;
    }

    .about-img img {
        width: 70%;
    }

    .about-content p {
        font-size: var(--font-size-x-large);
    }

    .about-contact {
        display: block;
        padding: 2rem;
        justify-content: space-between;
    }

    .about-contact a {
        justify-content: center;
        display: inline-block;
        width: 50px;
        height: 50px;
        color: var(--primary-color);
    }

    body.dark-mode .about-contact a {
        color: var(--primary-color2);
    }
    

    /* Projects */
    .projects {
        padding: 0 2rem;
    }

    .projects h2 {
        font-size: var(--font-size-xx-large);
    }
    
    .summary-details h2 {
        font-size: var(--font-size-x-large);
    }

    .summary-details p {
        font-size: var(--font-size-x-large);
    }

    .summary-details .links {
        display: flex;
        flex-direction: column;
    }

    .slideshow-container {
        max-width: 100%;
    }

    .next {
        right: -1px;
    }

    .prev {
        left: -1px;
    }

    .next,
    .prev {
        top: 60%;
    }

    /* Skills */
    .skills {
        padding: 2rem;
    }

    .single {
        width: 70px;
    }

    /* Contact form */
    .contact-form h2 {
        margin: 3rem 0 1rem;
    }

    .form-container {
        margin: 2rem 1rem;
        padding: 1.5rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 1.5rem;
        font-size: var(--font-size-medium);
        margin-bottom: 1.5rem;
    }

    button[type="submit"] {
        padding: 0.8rem 1.5rem;
        font-size: var(--font-size-medium);
        margin-top: 1.5rem;
    }

    /* Go to top button */
         #myBtn {
             display: block;
             right: 1rem;
             font-size: var(--font-size-medium);
             padding: 0.8rem;
             bottom: 0.5rem;
         }

    /* Footer */
    .footer {
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-regular);
        text-align: center;
        padding: 1.5rem 0;
        margin: 0;
    }
}